{% extends 'base.html.twig' %}

{% block title %}Nuevo ingreso de explotación{% endblock %}

{% block body %}
    <h1>Añadir ingreso de explotación para {{ }}</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}">back to list</a>
{% endblock %}
