{% extends 'base.html.twig' %}

{% block title %}Página de inicio{% endblock %}

{% block body %}
<br><br><br><br><br>
<h1>Resumen de los datos</h1>
<hr>
    <div class="row mt-10">
        <div class="col-3">Número de empresas en la red:</div>
        <div class="col-1 text-right">{{ companies|length }}</div>
    </div>
    <div class="row">
        <div class="col-3">Número de accionistas:</div>
        <div class="col-1 text-right">{{ holders|length }}</div>
    </div>
    <div class="row">
        <div class="col-3">Número de participadas:</div>
        <div class="col-1 text-right">{{ subsidiaries|length }}</div>
    </div>

{% endblock %}
