{% extends 'base.html.twig' %}

{% block title %}Edit BoardTitle{% endblock %}

{% block body %}
    <h1>Edit BoardTitle</h1>

    {{ include('board_title/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('board_title_index') }}">back to list</a>

    {{ include('board_title/_delete_form.html.twig') }}
{% endblock %}
