{% extends 'base.html.twig' %}

{% block title %}New BoardTitle{% endblock %}

{% block body %}
    <h1>Create new BoardTitle</h1>

    {{ include('board_title/_form.html.twig') }}

    <a href="{{ path('board_title_index') }}">back to list</a>
{% endblock %}
