{% extends 'base.html.twig' %}

{% block title %}New ShareholderCategory{% endblock %}

{% block body %}
    <h1>Create new ShareholderCategory</h1>

    {{ include('shareholder_category/_form.html.twig') }}

    <a href="{{ path(prefix ~ 'index') }}">back to list</a>
{% endblock %}
