{% extends 'base.html.twig' %}

{% block title %}Nuevo accionista{% endblock %}

{% block body %}

    <h1>Nuevo accionista de {{ parent }}</h1>

    {{ include('company/shareholders/_form.html.twig') }}

    <a href="{{ path('company_show', { 'id': parent.id, 'activetab': 'shareholders' } ) }}">Volver a {{ parent }}</a>

</div>
</div>
</div>

{% endblock %}
