{% extends 'base.html.twig' %}

{% block title %}Añadir miembro de Junta directiva{% endblock %}

{% block body %}

    {{ include('company/directiva/_form.html.twig') }}

    <a href="{{ path('company_show', { 'id': entity.id }) }}">Volver a {{ entity }}</a>

{% endblock %}
