{% extends 'base.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block body %}

    {{ include('company/eventos/_form.html.twig') }}

    <a href="{{ path('company_show', { 'id': parent.id }) }}">Volver a {{ parent }}</a>

{% endblock %}
