{% extends 'base.html.twig' %}

{% block title %}New CompanyLevel{% endblock %}

{% block body %}
    <h1>Create new CompanyLevel</h1>

    {{ include('company_level/_form.html.twig') }}

    <a href="{{ path(PREFIX ~ 'index') }}">back to list</a>
{% endblock %}
