{% extends 'base.html.twig' %}

{% block title %}Lista de cargos de una junta directiva{% endblock %}

{% block body %}
    <h1>Lista de cargos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Alias</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path(prefix ~ 'edit', {'id': entity.id}) }}">{{ entity.name }}</a></td>
                <td>{{ entity.alias }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path(prefix ~ 'new') }}">Crear un nuevo cargo</a>
{% endblock %}
